@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');

body {
  font-family: 'Public Sans', sans-serif;
  background-color: #f9f9f9;
}

.bg-dark-gradient {
  background: linear-gradient(to right, #004e92, #000428);
  color: white;
}

.bg-primary-gradient {
  background: linear-gradient(to right, #0052D4, #4364F7, #6FB1FC);
  color: white;
}

.bg-blue-sidebar {
  background-color: #0d6efd;
}